name: env_tutorial
## Triggers the workflow on when there is a push, or 
## pull request on the main branch
on: [pull_request, push] 

jobs:
  job1:
    ## The type of runner that the job will run on
    runs-on: ubuntu-latest 
    steps:
      - name: step 1
        env:
          ## Environment variable for step 1
          API_KEY: XXXXXXXXXXXX    
        ## Reference your environment variables
        run: |
            echo "The API key is:${{env.API_KEY}}"   
            echo "hello world"
            curl -s https://dl.openfoam.com/add-debian-repo.sh | sudo bash
            sudo apt-get install openfoam2106-default
            sudo chmod ugo+rwx /usr/lib/openfoam/openfoam2106/etc/bashrc
            sudo chmod ugo+rwx /usr/lib/openfoam/openfoam2106/etc/config.sh/setup
            sudo chmod ugo+rwx /usr/lib/openfoam/openfoam2106/etc/config.sh/functions
            # ls -l /usr/lib/openfoam/openfoam2106/etc/
            # sudo chmod -R ugo+rwx /usr/lib/openfoam
            # source /usr/lib/openfoam/openfoam2106/etc/bashrc
            #sudo echo "echo \"well hello there\"" >> /usr/lib/openfoam/openfoam2106/etc/bashrc
            
            echo "echo \"running testbash\"" >> testbash
            echo "export TEST=/usr/lib/foam" >> testbash
            echo "export WM_PROJECT_VERSION=v2106" >> testbash
            echo "export WM_COMPILER_TYPE=system" >> testbash
            echo "export WM_COMPILER=Gcc" >> testbash
            echo "export WM_PRECISION_OPTION=DP" >> testbash
            echo "export WM_LABEL_SIZE=32" >> testbash
            echo "export WM_COMPILE_OPTION=Opt" >> testbash
            echo "export WM_MPLIB=SYSTEMOPENMPI" >> testbash
            echo "export WM_PROJECT=OpenFOAM" >> testbash
            echo "unset FOAM_EXTRA_CFLAGS FOAM_EXTRA_CXXFLAGS FOAM_EXTRA_LDFLAGS" >> testbash
            echo "foamOldDirs=\"\$WM_PROJECT_DIR \$WM_THIRD_PARTY_DIR \$HOME/\$WM_PROJECT/\$USER \$FOAM_USER_APPBIN \$FOAM_USER_LIBBIN \$WM_PROJECT_SITE \$FOAM_SITE_APPBIN \$FOAM_SITE_LIBBIN \$FOAM_MODULE_APPBIN \$FOAM_MODULE_LIBBIN\"" >> testbash
            echo "export WM_PROJECT_DIR=\"/usr/lib/openfoam/openfoam2106\"" >> testbash
            echo "export WM_PROJECT_USER_DIR=\"\$HOME/\$WM_PROJECT/\$USER-\$WM_PROJECT_VERSION\"" >> testbash
            echo "unset foamOldDirs projectDir" >> testbash
            echo "if [ -d \"\$WM_PROJECT_DIR\" ]" >> testbash
            echo "then" >> testbash
            echo "  echo \"I'm in the if!\"" >> testbash
            echo "  echo \"echo \"\$WM_PROJECT_DIR/etc/config.sh/setup\" 1>&2\"" >> testbash
            echo "  echo \"source \$WM_PROJECT_DIR/etc/config.sh/setup\" 1>&2" >> testbash
            echo "  echo \"\"\$@\"\"" >> testbash
            echo "  echo \"wm_project_dir is \$WM_PROJECT_DIR\"" >> testbash
            #echo "  . \"\$WM_PROJECT_DIR/etc/config.sh/setup\" \"\$@\"" >> testbash
            echo "else" >> testbash
            echo "  echo \"Error: did not locate installation path for \$WM_PROJECT-\$WM_PROJECT_VERSION\" 1>&2" >> testbash
            echo "  echo \"No directory: \$WM_PROJECT_DIR\" 1>&2" >> testbash
            echo "fi" >> testbash
            echo "unset foamOldDirs projectDir" >> testbash
            cat testbash
            
            chmod +x testbash
            . ./testbash
            
            echo "call functions"
            . /usr/lib/openfoam/openfoam2106/etc/config.sh/functions
            echo "call setup"
            . /usr/lib/openfoam/openfoam2106/etc/config.sh/setup
           
            
            echo "TEST is $TEST"
            echo "FOAM_SRC is $FOAM_SRC"
            echo "FOAM_LIBBIN is $FOAM_LIBBIN"
            echo "WM_PROJECT_DIR is $WM_PROJECT_DIR"
            
      - name: step 2
        ## Reference your environment variables
        run: |
            echo "The API key is:${{env.API_KEY}}"   
            echo "FOAM_SRC is $FOAM_SRC"
            echo "FOAM_LIBBIN is $FOAM_LIBBIN"
            echo "WM_PROJECT_DIR is $WM_PROJECT_DIR"