name: env_tutorial
## Triggers the workflow on when there is a push, or 
## pull request on the main branch
on: [pull_request, push] 

jobs:
  job1:
    ## The type of runner that the job will run on
    runs-on: ubuntu-latest 
    steps:
      - name: step 1
        env:
          ## Environment variable for step 1
          API_KEY: XXXXXXXXXXXX    
        ## Reference your environment variables
        run: |
            echo "The API key is:${{env.API_KEY}}"   
            echo "hello world"
            echo "export FOAM_SRC=/usr/lib/foam" >> testbash
            chmod +x testbash
            . ./testbash
            echo "FOAM_SRC is $FOAM_SRC"
            
      - name: step 2
        ## Reference your environment variables
        run: echo "The API key is:${{env.API_KEY}}"   