name: env_tutorial
## Triggers the workflow on when there is a push, or 
## pull request on the main branch
on: [pull_request, push] 

jobs:
  job1:
    ## The type of runner that the job will run on
    runs-on: ubuntu-latest 
    steps:
      - name: step 1
        env:
          ## Environment variable for step 1
          API_KEY: XXXXXXXXXXXX    
        ## Reference your environment variables
        run: |
            echo "The API key is:${{env.API_KEY}}"   
            echo "hello world"
            curl -s https://dl.openfoam.com/add-debian-repo.sh | sudo bash
            sudo apt-get install openfoam2106-default
            sudo chmod ugo+rwx /usr/lib/openfoam/openfoam2106/etc/bashrc
            sudo chmod ugo+rwx /usr/lib/openfoam/openfoam2106/etc/config.sh/setup
            ls -l /usr/lib/openfoam/openfoam2106/etc/
            echo "echo \"running testbash\"" >> testbash
            echo "export TEST=/usr/lib/foam" >> testbash
            #echo "source /usr/lib/openfoam/openfoam2106/etc/bashrc" >> testbash
            
            
            #sudo echo "echo \"well hello there\"" >> /usr/lib/openfoam/openfoam2106/etc/bashrc
            source /usr/lib/openfoam/openfoam2106/etc/bashrc
           
            chmod +x testbash
            . ./testbash
            echo "TEST is $TEST"
            echo "FOAM_SRC is $FOAM_SRC"
            echo "FOAM_LIBBIN is $FOAM_LIBBIN"
            echo "WM_PROJECT_DIR is $WM_PROJECT_DIR"
            
      - name: step 2
        ## Reference your environment variables
        run: |
            echo "The API key is:${{env.API_KEY}}"   
            echo "FOAM_SRC is $FOAM_SRC"
            echo "FOAM_LIBBIN is $FOAM_LIBBIN"
            echo "WM_PROJECT_DIR is $WM_PROJECT_DIR"